/************** STATIC SECTION **************/
*{
	box-sizing: border-box;
}

body, html{
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

}

.flex__item{
	flex: 30% 0 1;
	min-width: 350px;
	border:  1px solid aliceblue;
}
/************** STATIC SECTION ENDs **************/



/************** section 1 starts here **************/


/************** section 2 starts here **************/
.kitkat-item{
	display: flex;
	justify-content: center;
	align-items: center;
}

.kitkat-inner{
	width: 4em;
	height:  4em;
	border-radius: 50%;
	background: cadetblue;
	text-align: center;
}


/************** section 3 starts here **************/
.new-item{
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.new-inner{
	background: lightpink;
	color:  white;
	font-size: 0.5em;
}

.black-contant {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 7em;
}

/************** section 4 starts here **************/

/************** section 5 starts here **************/

/************** section 6 starts here **************/

/************** section 7 starts here **************/

/************** section 8 starts here **************/

/************** section 9 starts here **************/

.item{
	flex: 0 1 50px;
}

.Treug1 {
	flex: 0 1 auto;
	width: 0; 
	height: 0;
	border-top: 50px solid green;
	border-right: 50px solid transparent;
}

.Treug1 {
	width: 0; 
	height: 0;
	border-top: 50px solid green;
	border-right: 50px solid transparent;
}

.Treug2 {
	width: 0;
	height: 0;
	border-bottom: 50px solid green; 
	border-right: 50px solid transparent; 
}

.Treug3 {
	width: 0;
	height: 0;
	border-top: 50px solid green; 
	border-left: 50px solid transparent; 
}

.Treug4{
	width: 0;
 	height: 0;
 	border-bottom: 50px solid green; 
 	border-left: 50px solid transparent;
}

#flex{
	display: flex;
	justify-content: space-between;
}

.border{
	padding: 15px;
	border-style: solid;
	text-align: center;
}

/************** section 10 starts here **************/

/************** section 11 starts here **************/

/************** section 12 starts here **************/

/************** section 13 starts here **************/

/************** section 14 starts here **************/

/************** section 15 starts here **************/




